/*color palette:
    red: #c83928
    yellow: #fead1e
    purple: #b25b9f
    blue: #398AC2
    orange: #f38c30*/
    

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
    font-size: 14px;
    background-image: url(images/largeflowers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'bodoni-urw', serif;
    font-weight: 400;
    font-style: normal;
}

header{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-image: url(images/header2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    background-position: center;
}

.intro h1, .intro h2{
    font-family: 'bodoni-urw', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: #398ac2;
    top: 10px;
    left: 10px;
    transform: rotate(-90deg);
    transform-origin: left;
    background-color: #fead1e;
    padding: 7px;
    border: 3px solid black;
}    

.intro h1{
   position: absolute;
    top:370px;
    left:80px;   
}
.intro h2{
    position: absolute;
    top: 140px;
    left: 160px;
}
.summary{
    position: absolute;
    font-size: 15px;
    right: 90px;
    top: 570px;
    background-color: #fead1e;
    padding: 55px 20px 10px 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
      box-shadow: 1px 3px 3px 1px black;
}
.design-selection{
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    width: 220px;
    top: 550px;
    right: 80px;
    padding: 230px 10px 20px 0px;
    border: 3px solid black;
    text-align: center;
}
.design-selection h3{
    font-family: 'kinescope', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    color: #c83928;
    text-shadow: 1px 1px 1px black;
    padding-bottom: 10px
}
.design-selection ul{
    list-style: none;
}
.design-selection a:link{
    text-decoration: none;
    color: #000000;
}

.design-selection a:visited{
  color: black;
}

.design-selection a:hover{
  color: #c83928;
}
.design-selection a:active{
  color: black;
}

.preamble{
    position: relative;
    margin-left: 480px;
    margin-top: 200px;
    height: 500px;
    background-color: #fead1e;
    padding: 200px 40px 40px 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 500px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-image: url(images/flower1.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 3px 3px 1px black;
}
.preamble h3{
    position: absolute;
    top: -200px;
    left: -480px;
    font-family: 'kinescope', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    color: #f38c30;
    text-shadow: 2px 2px 3px black;
    text-align: left;
    background-image: url(images/zebra.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 200px 100px 50px 400px;  
}

.explanation{
    position: absolute;
    top: 1650px;
    right: 300px;
    padding: 150px 90px 30px 90px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: #f38c30; 
    font-size: 20px;
    font-weight: 500px;
    text-align: center;
    background-image: url(images/flower2.png);
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: right;
    box-shadow: 1px 3px 3px 1px black;
    
}
.explanation p, last-child{
    padding-top: 30px;
}

.explanation h3{
    position: absolute;
    top: -270px;
    right: -320px;
    width: 750px;
    padding: 250px 300px 0px 0px;  
    font-family: 'kinescope', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    color: #fead1e;
    text-shadow: 2px 2px 3px black;
    text-align: right;
    background-image: url(images/marilyn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}


.project{
    position: absolute;
    top: 2500px;
    left: 260px;
    background-color: #b25b9f;
    text-align: center;
    font-size: 20px;
    font-weight: 500px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-image: url(images/flower3.png);
    background-size: 1100px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 160px 40px 30px 40px;
    box-shadow: 1px 3px 3px 1px black;
}

.project p, last-child{
    padding-top: 30px;
}

.project h3{
    position: absolute;
    top: -290px;
    left: -310px;
    font-family: 'kinescope', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    color: #398AC2;
    text-shadow: 2px 2px 3px black;
    text-align: left;
    background-image: url(images/lips.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 270px 100px 10px 270px
} 
    .requirements{
    position: absolute;
    top: 3100px;
    right: 460px;
    padding: 130px 50px 30px 50px;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background-color: #398AC2; 
    font-size: 20px;
    font-weight: 500px;
    text-align: center;
    background-image: url(images/flower4.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 1px 3px 3px 1px black;
    
}
.requirements h3{
    position: absolute;
    top: -430px;
    right: -460px;
    width: 750px;
    padding: 400px 350px 120px 0px;  
    font-family: 'kinescope', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    color: #fead1e;
    text-shadow: 2px 2px 3px black;
    text-align: right;
    background-image: url(images/soup.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 3600px;
    left: 20px;
    border: 3px solid black;
    padding: 20px;
    margin: 30px 0;
    width: 500px;
}
footer a{
    display: flex;
    align-items: center;
    background-color: #fead1e;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-decoration: none;
    color: #000000;
}
footer a:first-child{
    padding: 31px; 
    background-position: left;
}
footer a{
    font-weight: 400;
    padding:39px;
    background-image: url(images/flower2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
footer a:last-child{
    padding: 10px;
    background-position: right;
}

footer a:link{
  color: black;
}

footer a:visited{
  color: black;
}

footer a:hover{
  color: #398AC2;
}
footer a:active{
  color: black;
}
